.project {
}
.project__container {
    margin-top: 50px;
}
.project__title {
    text-align: center;
}
.project__text {
    text-align: center;
    padding: 25px 0px 25px 0px;
}
.project__column {
    display: flex;
    
    
}
.column__item:nth-child(2) {
    flex-direction: column-reverse;
    display: flex;
}
.column__item {
}
.item__content {
}
.item__subtitle {
}
.item__subtext {
}

footer img[src$=".jpg"] {
    
    
}